.navbar {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-nav,
.navbar-form {
  margin-left: 0;
  margin-right: 0;
}
.navbar-nav > li > a {
  margin: 12.5px 6px;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-nav > li > a:hover {
  border: 1px solid #ddd;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
  border: 1px solid #ddd;
}

.navbar-default{
  background-color: #ffffff;
  border-color: #dddddd;
  color: #333333;
}

.navbar-default .navbar-brand{
  color: #333333;
}

.navbar-default .navbar-nav > li > a{
  color: #333333; 
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #4582ec;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  color: #333333;
}
.navbar-brand {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  line-height: 1.9;
  font-size: 20px;
}
@media (min-width: 768px) {
  .navbar .navbar-nav > li > a {
    padding: 8px 12px;
  }
}
@media (max-width: 768px - 1) {
  .navbar .navbar-nav > li > a {
    margin: 0;
  }
}
.btn {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
legend {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.input-group-addon {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border: 1px solid #ddd;
}
.pagination {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 14px 24px;
}
.pager {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pager a {
  color: #333333;
}
.pager a:hover {
  border-color: transparent;
  color: #fff;
}
.pager .disabled a {
  border-color: #dddddd;
}
.close {
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  opacity: 0.4;
}
.close:hover,
.close:focus {
  color: #fff;
  opacity: 1;
}
.alert .alert-link {
  color: #ffffff;
  text-decoration: underline;
}
.label {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.label-default {
  border: 1px solid #ddd;
  color: #333333;
}
.badge {
  padding: 1px 7px 5px;
  vertical-align: 2px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-default .close {
  color: #333333;
}
.modal .close {
  color: #333333;
}

body {
  padding-top: 1px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  color: #333333;
  font-size: 16px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
  position: relative;
}

path {
/*  fill: #000;*/
  fill-opacity: .7;
  stroke: #000;
  stroke-width: 0.5px;
}

path:hover {
/*  fill: brown;
  fill-opacity: .7;*/
  stroke: #CC0000;
  stroke-width: 3px;
}

path.donut:hover {
  stroke: silver;
  stroke-width: 3px;
}

.homicide{
  fill: #ffffb3;
  fill-opacity: .5;
  stroke: #bc80bd;
  stroke-width: 0.5px;
}

.homicide:hover{
	fill: yellow;
	fill-opacity: 0.7;
}

.sexOffense{
  fill: #bebada;
  fill-opacity: .5;
  stroke: #bebada;
  stroke-width: 0.5px;
}

.sexOffense:hover{
	fill: yellow;
	fill-opacity: 0.7;
}

.checkbox{
	font-size: 12px;
}

.datepicker{
	font-size: 12px;
	width: 80%;
}

.category{
	margin-top: 20px;
  margin-left: 5%;
}

.donut{
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: 0px;
}

.nav > li > a.graph_tabs{
  padding: 0px;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:24px !important}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
/*  shape-rendering: optimize-speed;*/
}
/*.bar {
  fill: steelblue;
}
*/
.x.axis path {
  display: none;
}
.axis{
  font: 10px sans-serif;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/*----------------------------------------*/

#menu{
  position: absolute;
  top:50px;
  bottom: 0px;
  left: 0px;
  background-color: white;
}

#map{
  position: absolute;
  top: 50px;
  bottom:0px;
  left: 16.666667%;
}

#charts{
  position:absolute;
  margin-top: 10px;
  top: 50px;
  bottom:0px;
  left: 75%;
  padding-right: 0px;
  padding-left: 0px;
}

#share_buttons{
  position: relative;
  margin: 0 auto;
}

#color_assault{
  background: #bc80bd; 
}

#color_burglary{
  background: #bebada; 
}

#color_drug{
  background: #fccde5;
}

#color_homicide{
  background: #ffffb3;
}

#color_robbery{
  background: #8dd3c7;
}

#color_sexOffense{
  background: #b3de69;
}

#color_weaponLaw{
  background: #fdb462;
}
.chart_dimension{
  width: 100%;
  height: 33.3333%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#infographic{
  /*background-color: red;*/
  padding-top: 10px;
}
#bar_chart{
  /*background-color: yellow;*/
}

#timeline{
 /* background-color: green;*/
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-center {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.leaflet-control-geosearch, .leaflet-control-geosearch ul {
  border-radius: 7px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
  margin: 10px 0 0 0;
  padding: 5px;
  width: 100%;
  height: auto;
}
.leaflet-control-geosearch-msg ul {
  list-style: none;
  display: none;
  height: auto;
  background: none;
  padding: 0;
}
.leaflet-control-geosearch ul li {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    margin: 2px 0;
    padding: 4px;
    font: 12px arial;
    text-indent: 4px;
}
.leaflet-container .leaflet-control-geosearch input {
  width: 100%;
  height: 28px;
  padding: 0;
  text-indent: 8px;
  background: rgba(255, 255, 255, 0.85);      
  border-radius: 4px;
  border: none;
}

.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}

.leaflet-bar button:hover {
  background-color: #f4f4f4;
}

.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  heigth: 100%;
  position: relative;
}


.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

paper-checkbox {
    --paper-checkbox-label-color: #eee;
    --paper-checkbox-checkmark-color: #fff;

    /* Unhecked state colors. */
    --paper-checkbox-unchecked-color: #5a5a5a;
    --paper-checkbox-unchecked-background-color: #5a5a5a;
    --paper-checkbox-unchecked-ink-color: #5a5a5a;

    /* Checked state colors. */
    --paper-checkbox-checked-color: #009688;
    --paper-checkbox-checked-ink-color: #009688;
  }

#assault_label{
  background-color: #fdb462;
  width: 120px;
  padding-left: 10px;
}
#burglary_label{
  background-color: #b3de69;
  width: 120px;
  padding-left: 10px;
}
#drug_label{
  background-color: #8dd3c7;
  width: 120px;
  padding-left: 10px;
}
#homicide_label{
  background-color: #ffffb3;
  width: 120px;
  padding-left: 10px;
}
#robbery_label{
  background-color: #fccde5;
  width: 120px;
  padding-left: 10px;
}
#sexOffense_label{
  background-color: #bebada;
  width: 120px;
  padding-left: 10px;
}
#weaponLaw_label{
  background-color: #bc80bd;
  width: 120px;
  padding-left: 10px;
}







#donut_chart{
  height: 80%;
  position: relative;
}

#donut_location{
  padding-top: 5px;
  padding-left: 5px;
  height: 20%;
  font-size: 20px;

}

.row .donut{
  font-size: 12px;
  padding-left: 5px;
}

.legend_donut{
  font-size: 10px;
}

.tooltip_donut{
/*  background: #eee;*/
  box-shadow: 0 0 5px #999999;
  /*color: #333;*/
  display: none;
  font-size: 12px;
  left: 20%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 140px;
  z-index: 10;
  line-height: 1;
  background: rgba(255, 255, 255, 1);
  color: #000;
  border-radius: 2px;
}

.label_donut{
  font-color: #000;
}

.donut{
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: 0px;
}

.side_tabs{
  height: 20%;
}

.graph_tabs{
  font-size: 12px;
}

.graph_area{
  height: 80%;
}


.paper_checkbox_bottom{
  margin-bottom: 0px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis:hover{
  stroke: none;
}


.d3-tip {
  line-height: 1;
  font-weight: normal;
  font-size: 12px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.test_border{
  stroke: red;
  stroke-width: 1;
}

.area {
  fill: steelblue;
  stroke-width: 0px;
}

.area:hover{
  stroke: #000;
  stroke-width: 0.5px;
}

.focus circle {
  fill: green;
  stroke: steelblue;
}

.line_tip{
  font-size: 10px;
  top: -8%;
  right: 5%;
}

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 51px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
    margin-top: 5px;
    margin-bottom: 10px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.before_switch{
  margin-bottom: -15px;
}